.card-info{
    padding: 10px 0;
}

.card-title
{
    text-align: center;
}

.borde-lat
{
    border-left: 1px solid;    
}

.blue
{    
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    background-color: cornflowerblue;    
}

.ms
{
    margin: 5px 30px;
}

.filter-field
{
    margin: 10px 0;
}